.select {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.graphContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}